/**
 * Permalink Manager CSS
 */
 #permalink-manager #plugin-name-heading a{color:#959595;font-size:60%;text-decoration:none}
 #permalink-manager #permalink-manager-tab-nav > a:first-child{margin-left:0}
 #permalink-manager h4{font-size:18px;margin-bottom:10px}
 #permalink-manager h5{font-size:15px;margin-bottom:10px}
 #permalink-manager .structure-tags-list{display:block;line-height:175%}
 #permalink-manager .structure-tags-list code{}
 #permalink-manager .small{display:block;font-weight:400;color:#888;font-size:80%}
 #permalink-manager .settings-select{min-width:200px}
 #permalink-manager .fixed-table{max-width:100%;table-layout:fixed}
 #permalink-manager .margin-top{margin-top:15px}

 #permalink-manager .woocommerce-icon:before{font-family:"WooCommerce";font-style:normal}
 #permalink-manager .woocommerce-cart:before{content:"\e01d"}
 #permalink-manager .woocommerce-logo:before{content:"\e03d"}

 #permalink-manager .subsubsub{display:block;width:100%;overflow:hidden;margin-bottom:8px}
 #permalink-manager .subsubsub li:before{content:" | "}
 #permalink-manager .subsubsub li:first-child:before{content:"";color:#aaa}
 #permalink-manager .subsubsub li .dashicons,#permalink-manager .subsubsub li .woocommerce-logo{font-size:100%;line-height:200%;height:auto;width:auto}
 #permalink-manager .tablenav{margin:15px 0;height:auto}
 #permalink-manager .tablenav.top{margin-top:0}
 #permalink-manager .tablenav .actions{padding:0;overflow:visible}
 #permalink-manager .column-post_type,#permalink-manager .column-post_status,#permalink-manager .column-count,#permalink-manager .column-post_lang{width:13%}
 #permalink-manager .column-count,#permalink-manager th#count{text-align:right}
 #permalink-manager th#count a{display:inline-block}
 #permalink-manager .post_name input{max-width:100%}
 #permalink-manager .post_permalink a,.post_permalink .dashicons{font-size:13px;color:#aaa;line-height:1.5em;height:auto;width:auto}
 #permalink-manager .post_permalink{margin-top:5px;display:block}

 #permalink-manager .info{box-shadow:0 1px 1px 0 rgba(0,0,0,.1);display:block;overflow:hidden;clear:both;font-weight:bold;border-left:4px solid #dc3232;}
 #permalink-manager .alert,#permalink-manager .info{line-height:19px;padding:11px 15px;margin:15px 0}
 #permalink-manager .alert p,#permalink-manager .info p{margin-top:0;line-height:200%}
 #permalink-manager .alert ul,#permalink-manager .alert ol{margin-top:0;margin-bottom:0}
 #permalink-manager .alert p:last-of-type,#permalink-manager .alert li:last-of-type,#permalink-manager .info p:last-of-type{margin-bottom:0}
 #permalink-manager .warning{background:#dc3232}
 #permalink-manager .warning,#permalink-manager .warning a{color:#fff}
 #permalink-manager .info{background:#f9f9f9}
 #permalink-manager .section-notes,#permalink-manager .short-pre,#permalink-manager .short-textarea{padding:15px;font-size:13px;margin-top:15px;line-height:20px;background:#e5e5e5;border:1px solid #ccc;color:#555}
 #permalink-manager .section-notes a,#permalink-manager .section-notes h3{color:#111}
 #permalink-manager .section-notes h3,#permalink-manager .section-notes h4{margin-top:0}
 #permalink-manager .section-notes h4{font-size:14px}
 #permalink-manager .section-notes code{font-size:11px;background:#444;color:#fff}
 #permalink-manager .section-notes ol{margin-top:0;margin-bottom:0}
 #permalink-manager .section-notes ol li:last-of-type{margin-bottom:0}
 #permalink-manager .short-pre,#permalink-manager .short-textarea{height:150px;overflow:auto;max-width:100%;display:block}
 #permalink-manager .structure-tags-list{margin-top:15px}

 #permalink-manager .checkbox_actions{padding-top:10px;border-top:1px solid #ddd}
 #permalink-manager .extra-links{margin-top:5px;font-size:12px}
 #permalink-manager .extra-links a{color:#666;display:inline-block;text-decoration:none}
 #permalink-manager .extra-links a:before{content:" | "}
 #permalink-manager .extra-links a:first-child:before{content:""}
 #permalink-manager .checkboxes{margin-left:-15px;margin-right:15px;overflow:hidden;display:block}
 #permalink-manager .checkboxes > label{display:inline-block;width:33%;float:left;padding:0 15px;box-sizing:border-box;padding-bottom:5px}
 #permalink-manager .checkboxes > label:nth-of-type(3n+1){clear:both}
 #permalink-manager .field-description{font-size:12px}
 #permalink-manager .appended-row td{padding-left:0;padding-right:0}

/**
 * Columns
 */
#permalink-manager .columns-container{overflow:hidden;margin-left:-15px;margin-right:-15px;clear:both}
#permalink-manager .columns-container .column{float:left;padding-left:15px;padding-right:15px;box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden}
#permalink-manager .columns-container .column-1_2{width:50%}
#permalink-manager .columns-container .column-1_3{width:33.33%}
#permalink-manager .columns-container .column-2_3{width:66.67%}

#slugdiv #post_name{width:100%}

/**
 * Breakpoints
 */
@media only screen and (max-width : 782px) {
	#permalink-manager .columns-container .column-1_2,#permalink-manager .columns-container .column-1_3,#permalink-manager .columns-container .column-2_3{width:100%}
}
