/**
 * Permalink Manager CSS
 */
#permalink-manager #plugin-name-heading .author-link{color:#959595;font-size:60%;text-decoration:none}
#permalink-manager #permalink-manager-tab-nav > a:first-child{margin-left:0}
#permalink-manager h4{font-size:18px;margin-bottom:10px}
#permalink-manager h5{font-size:15px;margin-bottom:10px}
#permalink-manager .structure-tags-list{display:block;line-height:175%}
#permalink-manager .structure-tags-list code{}
#permalink-manager .small{display:block;font-weight:400;color:#888;font-size:80%}
#permalink-manager .settings-select{min-width:200px}
#permalink-manager .fixed-table{max-width:100%;table-layout:fixed}
#permalink-manager .margin-top{margin-top:15px}
#permalink-manager .help_tooltip{text-decoration:none;color:#959595}
#permalink-manager .small-select{height:24px;line-height:22px;padding:0 8px 1px;font-size:11px}

#permalink-manager .woocommerce-icon:before{font-family:"WooCommerce";font-style:normal}
#permalink-manager .woocommerce-cart:before{content:"\e01d"}
#permalink-manager .woocommerce-logo:before{content:"\e03d"}

#permalink-manager .subsubsub{display:block;width:100%;overflow:hidden;margin-bottom:8px}
#permalink-manager .subsubsub li:before{content:" | "}
#permalink-manager .subsubsub li:first-child:before{content:"";color:#aaa}
#permalink-manager .subsubsub li .dashicons,#permalink-manager .subsubsub li .woocommerce-logo{font-size:100%;line-height:200%;height:auto;width:auto}
#permalink-manager .single-section{clear:both}
#permalink-manager .tablenav{margin:15px 0;height:auto}
#permalink-manager .tablenav.top{margin-top:0}
#permalink-manager .tablenav .actions{padding:0;overflow:visible}
#permalink-manager .tablenav #months-filter{margin-left:10px}
#permalink-manager .column-post_type,#permalink-manager .column-post_status,#permalink-manager .column-count,#permalink-manager .column-post_lang{width:13%}
#permalink-manager .column-count,#permalink-manager .column-post_lang,#permalink-manager th#count{text-align:center}
#permalink-manager th#count a{display:inline-block}
#permalink-manager .post_name input{max-width:100%}
#permalink-manager .post_permalink a,.post_permalink .dashicons{font-size:13px;color:#aaa;line-height:1.5em;height:auto;width:auto}
#permalink-manager .post_permalink{margin-top:5px;display:block}

#permalink-manager .info{box-shadow:0 1px 1px 0 rgba(0,0,0,.1);display:block;overflow:hidden;clear:both;font-weight:bold;border-left:4px solid #dc3232;}
#permalink-manager .alert,#permalink-manager .info{line-height:19px;padding:11px 15px;margin:15px 0}
#permalink-manager .alert p,#permalink-manager .info p{margin-top:0;line-height:200%}
#permalink-manager .alert ul,#permalink-manager .alert ol{margin-top:0;margin-bottom:0}
#permalink-manager .alert p:last-of-type,#permalink-manager .alert li:last-of-type,#permalink-manager .info p:last-of-type{margin-bottom:0}
#permalink-manager .warning{background:#dc3232}
#permalink-manager .warning,#permalink-manager .warning a{color:#fff}
#permalink-manager .info{background:#f9f9f9}
#permalink-manager .section-notes,#permalink-manager .short-pre,#permalink-manager .short-textarea{padding:15px;font-size:13px;margin-top:15px;line-height:20px;background:#e5e5e5;border:1px solid #ccc;color:#555}
#permalink-manager .section-notes a,#permalink-manager .section-notes h3{color:#111}
#permalink-manager .section-notes h3,#permalink-manager .section-notes h4{margin-top:0}
#permalink-manager .section-notes h4{font-size:14px}
#permalink-manager .section-notes code{font-size:11px;background:#444;color:#fff}
#permalink-manager .section-notes ol{margin-top:0;margin-bottom:0}
#permalink-manager .section-notes ol li:last-of-type{margin-bottom:0}
#permalink-manager .short-pre,#permalink-manager .short-textarea{height:150px;overflow:auto;max-width:100%;display:block}
#permalink-manager .structure-tags-list{margin-top:15px}

#permalink-manager .checkbox_actions{padding-top:10px;border-top:1px solid #ddd}
#permalink-manager .extra-links,.permalink-manager-screen-options .extra-links{margin-top:5px;font-size:12px}
#permalink-manager .extra-links a,.permalink-manager-screen-options .extra-links a{color:#666;display:inline-block;text-decoration:none}
#permalink-manager .extra-links a:before,.permalink-manager-screen-options .extra-links a:before{content:" | "}
#permalink-manager .extra-links a:first-child:before,.permalink-manager-screen-options .extra-links a:first-child:before{content:""}
#permalink-manager .checkboxes{margin-left:-15px;margin-right:15px;overflow:hidden;display:block}
#permalink-manager .checkboxes > label{display:inline-block;width:33%;float:left;padding:0 15px;box-sizing:border-box;padding-bottom:5px}
#permalink-manager .checkboxes > label:nth-of-type(3n+1){clear:both}
#permalink-manager .field-description{font-size:12px}
#permalink-manager .appended-row td{padding-left:0;padding-right:0}
#permalink-manager #tools select{min-width:60%}

/**
 * Columns
 */
#permalink-manager .columns-container{overflow:hidden;margin-left:-15px;margin-right:-15px;clear:both;display:block}
#permalink-manager .columns-container > *{float:left;padding-left:15px;padding-right:15px;box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden;display:block}
#permalink-manager .columns-container .column-1_2,#permalink-manager .columns-container .column-2_4{width:50%}
#permalink-manager .columns-container .column-1_3{width:33.33%}
#permalink-manager .columns-container .column-2_3{width:66.67%}
#permalink-manager .columns-container .column-1_4{width:25%}
#permalink-manager .columns-container .column-3_4{width:75%}

#slugdiv #post_name{width:100%}

/**
 * Edit URI box
 */
#permalink-manager.permalink-manager-edit-uri-box{margin:10px -10px}
#permalink-manager.permalink-manager-edit-uri-box h2{border-bottom:1px solid #eee}
#permalink-manager.permalink-manager-edit-uri-box .inside{padding:0 10px 10px 10px}
#permalink-manager.permalink-manager-edit-uri-box .strong{display:block;font-weight:bold;margin-bottom:5px}
#permalink-manager.permalink-manager-edit-uri-box .toggle-indicator:before{content:"\f142";display:inline-block;font:400 20px/1 dashicons}
#permalink-manager.permalink-manager-edit-uri-box .default-permalink-row{color:#aaa;font-size:90%;border-top:1px solid #eee;padding-top:10px}
#permalink-manager.permalink-manager-edit-uri-box #restore-default-uri{display:block;text-align:center;width:100%;border-radius:0;color:#959595;text-decoration:none}
#permalink-manager.permalink-manager-edit-uri-box .columns-container{margin-left:-10px;margin-right:-10px}
#permalink-manager.permalink-manager-edit-uri-box .columns-container > *{padding-left:10px;padding-right:10px}
#permalink-manager.permalink-manager-edit-uri-box .close-button{float:right;width:36px;height:36px;padding:0;cursor:pointer;display:block}
#permalink-manager.permalink-manager-edit-uri-box .close-icon{margin-top:4px;-webkit-border-radius:50%;border-radius:50%;text-indent:-1px;color:#72777c;line-height:36px;display:block;text-align:center}
#permalink-manager.permalink-manager-edit-uri-box .close-icon:before{content:"\f158";display:inline-block;font:400 20px/1 dashicons;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-decoration:none!important}

/**
 * Tippy.js custom theme
 */
.tippy-tooltip.tippy-pm-theme{text-align:left;font-size:13px}

/**
 * TagEditor custom theme & "Stop Words"
 */
#permalink-manager .words-editor{font-size:90%;height:400px;overflow-y:auto;border:1px solid #ddd;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.07);box-shadow:inset 0 1px 2px rgba(0,0,0,.07);background-color:#fff;color:#32373c;outline:0;-webkit-transition:50ms border-color ease-in-out;transition:50ms border-color ease-in-out;}
#permalink-manager .words-editor .tag{background:#eee}
#permalink-manager .words-editor .tag a{color:#000}
#permalink-manager .stop-words-buttons{width:100%}
#permalink-manager .stop-words-buttons tr > td:first-child{padding-left:0;width:50%}
#permalink-manager .stop-words-buttons tr > td:last-child{padding-right:0}

/**
 * Breakpoints
 */
@media only screen and (min-width :992px) {
	#permalink-manager #permalink-manager-tab-nav .section_debug{float:right}
}
@media only screen and (max-width :782px) {
	#permalink-manager .columns-container .column-1_2,#permalink-manager .columns-container .column-1_3,#permalink-manager .columns-container .column-2_3{width:100%}
}
